<%= window_personal %>

<%- include('./window_head', {window_head: '',window_type:window_type}) %>  

<%- include('./window_aside_bottom', {window_a_b: ''}) %> 


<section class="window_content">
    
        <div class="profile">
            <div><img src="<%= avatar %>" alt="avatar"></div>
            <h2><%= name %></h2>
            <h3><%= surname  %></h3>
        </div>
    
        <div class="info">
            <ul>
                <li><a href=<%= website %>>Github</a></li>
                <li><legend>e-mail</legend><p><%= email %></p></li>
                <li><legend>phone number</legend><p><%= phone_number %></p></li>
                <li><legend> squad-id</legend><p><%= squad_id %></p></li>
            </ul>
        </div>
   


</section>